<mat-card class="footer">
	<div class="item-wrapper-footer">
		<span [class.active]="pagina==='progresso'" class="item-footer" (click)="navegar('progresso')">Progresso</span>
		<span [class.active]="pagina==='curso'" class="item-footer" (click)="navegar('curso')">Curso</span>
		<span [class.active]="pagina==='pesquisar'" class="item-footer" (click)="navegar('pesquisar')">Pesquisar</span>
		<span class="item-footer" (click)="navegar('')">sair</span>
	</div>
</mat-card>

<div *ngIf="telaAtual==='curso'">
	<div class="item-item-wrapper">
		<div class="item-wrapper">
			<mat-card *ngFor="let curso of listaCursos" class="item-curso" (click)="irParaAula()">{{curso['nome']}}</mat-card>
		</div>
	</div>
</div>

<div *ngIf="telaAtual==='aula'">
	<h3 class="titulo-curso">Curso 1:</h3>
	<div class="item-item-wrapper">
		<div class="item-wrapper">
			<mat-card *ngFor="let aula of listaAulas" class="item-curso" (click)="openDialog(aula)">{{aula.nome}}</mat-card>
		</div>
	</div>
</div>
