.example-spacer {
  flex: 1 1 auto;
}

.divider {
	margin-left: 5px;
	margin-right: 5px;
}

.item {
	cursor: pointer;
	color: #F8E9A1;
}

.active {
	color: #F76C6C !important;
}

.item-item-wrapper {
	width: 100vw;
	height: calc(100vh - 66px);
	overflow-y: scroll;
}

.item-wrapper {
	display: flex;
	flex-direction: column;
}

.item-curso {
	cursor: pointer;
	width: 88vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F8E9A1;
	color: #F76C6C;
}

.botao-adicionar {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.dialog {
	position: relative;
	width: 70vw;
	height: 80vh;
}

.formulario-input {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.line-input {
	display: flex;
	justify-content: space-around;
}

.input2 {
	width: 30%;
}

.button-adicionar {
	height: 40px;
}

.esconder {
	display: none;
}

.mat-dialog-classe {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.questionario-wrapper {
	display: flex;
	justify-content: space-around;
	width: 65vw;
}

.questionario-card {
	width: 40%;
}

.resposta-wrapper {
	display: flex;
}

.resposta-wrapper mat-checkbox {
	margin-top: 15px;
}

.botao-pergunta {
	float: right;
}

table {
  width: 100%;
}